header {
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
header li {
    display: inline-block;
    padding: 0 15px;
}
header h2 {
    color: #007bff;
}
header a {
    color: #aeaeae;
    text-decoration: none;
    display: block;
    padding: 3px 0;
    border: 2px solid transparent;
    transition: .2s
}

header a:hover:not(#title) {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}